/* body and header */

body {
  padding-top: 4.3rem; 
}

h1, h2, h3 {
    text-shadow: 0 0 3px #2196f3;
    font-family: "Funnel Display", sans-serif;
}

.other-text, footer {
    font-family: "Funnel Display", sans-serif;
}

.text {
    font-family: "Bad Script", cursive;
}

/* footer */

@media (max-width: 575.98px) { 
    footer .link {
        left: 2rem;
    }

    footer .copy {
        right: 2rem;
    }
 }

@media (min-width: 576px) { 
   footer .link {
        left: 2rem;
    }

    footer .copy {
        right: 2rem;
    }
 }

@media (min-width: 768px) { 
    footer .link {
        left: 5rem;
    }

    footer .copy {
        right: 5rem;
    }
 }
